<h1 class="page_title">FX Calculator</h1>

<div id="date"> 

</div>

<form class="form" action="/fx/result" method="post">

  <p><label>
    Select which currency you have:
    <select name="currency">
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
    </select>
  </label></p>

  <p><label>
    Select which currency you would like:
    <select name="currency">
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
    </select>
  </label></p>

  <input class="link" type="submit" value="Submit">

</form>

