<h1 class="page_title">FX Calculator</h1>

<div id="date"> 

</div>

<form class="form" action="/" method="post">

  <p>
    <label>
      Select which currency you have:
      <select name="currency_have">
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
      </select>
    </label>
  </p>

  <p>
    <label>
      How much:
      <input type="text" name="amount">
    </label>
  </p>

  <p>
    <label>
      Select which currency you would like:
      <select name="currency_want">
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
      </select>
    </label>
  </p>

  <input class="link" type="submit" value="Submit">

  <% if @results != nil %>
    <div id="results">
      <p>You will get <%= @results %></p>
    </div>
  <% end %>

</form>

