<!DOCTYPE html>
<html>
<head>
  <title>FX Calculator</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <main>
    <section class="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>